HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### IntelliJ Idea Ultimate ###
.idea/

### Maven Build ###
.mvn/

### Node Modules ###
node_modules/

### Test and Resources ###
src/test
src/main/resources

### Misc ###
.gitattributes
mvnw
mvnw.cmd
